.portfolio {
	padding-bottom: 135px;
}

.portfolio__wrapper {
  
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}


.portfolio_col_1 {

	position: relative;
	padding-top: 206px;
	padding-left: 95px;
	padding-bottom: 170px;
  padding-right: 5px;
	width: 29%;
	background-color: #f2c200;
}



.portfolio__text {

	margin-top: 74px;
	max-width: 330px;
	font-family: 'roboto';
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: left;
  color: rgba(43, 45, 92, 0.7);
}

.portfolio__read_more {

	display: block;
	margin-top: 35px;
	font-family: 'roboto';
	font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.38;
  letter-spacing: normal;
  text-align: left;
  color: rgba(43, 45, 92, 0.9);
  transition: .5s;
}

.portfolio__read_more:hover {
	letter-spacing: 1px;
} 


.portfolio_col_2 {
	width: 24%;
}



.portfolio__photo:hover {
  opacity: .5;
}




.portfolio__photo {

	width: 100%;
	object-fit: cover;
	height: 100%;
	transition: .5s;
}


.portfolio_col_3 {
	width: 45%;
}


.portfolio__row-1, .portfolio__row-2, .portfolio__row-3 {
	margin-bottom: 10px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.portfolio__item-3 {
  width: 61%
}

.portfolio__item-4 {
  width: 37%;
}

.portfolio__item-5, .portfolio__item-6 {
  width: 49%;
}

.portfolio__item-7 {
  width: 99%;
}




